<!--
  Generated template for the ShoppingCartPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title class="accent-color">Carrito de Compras</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <div class="withoutOrder" *ngIf="!statusOrder">
    <ion-list>
      <div *ngFor="let item of items">
        <ion-item (click)="presentModal(item)">
          <ion-avatar item-start>
            <img src={{item.image}}>
          </ion-avatar>
          <h2>{{item.name}}</h2>
          <p>Cantidad: {{item.quantity}}</p>
        </ion-item>
      </div>
    </ion-list>

    <ion-footer>
      <ion-toolbar>
        <ion-title>Finaliza tu cuenta</ion-title>
      </ion-toolbar>
      <ion-grid>
        <ion-row>
          <ion-col col-6 offset-6>
            <button ion-button full (click)="goToOrder()">Siguiente</button>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-footer>
  </div>

  <div class="withOrder" *ngIf="statusOrder">

    <ion-title>Estamos trabajando en tu pedido</ion-title>
    <div class="" *ngIf="answerCheapest">
      <ion-card>
        <img src="/assets/imgs/barato2.png" />
        <ion-card-content>
          <ion-card-title>
            La oferta más barata!
          </ion-card-title>
          <p>
            Opción que tiene los mejores precios:
          </p>
          <ion-list *ngFor="let item of answerCheapest.list">
            <ion-item>
              <ion-label>{{item.name }} - ${{item.price}}</ion-label>
            </ion-item>
          </ion-list>
          <button ion-button>Pedir</button>
        </ion-card-content>
      </ion-card>
    </div>

    <div class="" *ngIf="answerClosest">
      <ion-card>
        <img src="/assets/imgs/rapidez.png" />
        <ion-card-content>
          <ion-card-title>
            La oferta más rápida!
          </ion-card-title>
          <p>
            Opción que tienes más cerca, precios:
          </p>
          <ion-list *ngFor="let item of answerClosest.list">
            <ion-item>
              <ion-label>{{item.name }} - ${{item.price}}</ion-label>
            </ion-item>
          </ion-list>
          <button ion-button>Pedir</button>
        </ion-card-content>
      </ion-card>
    </div>

    <ion-img width="80" height="80" src="/assets/imgs/work.gif"></ion-img>
    <p>Estamos cotizando tus productos, cuando se tengan las mejores opciones se mostrarán.</p>
    <!-- <button ion-button full (click)="stopSearch()">Parar la busqueda</button> -->

  </div>

</ion-content>
