<!--
  Generated template for the ProductsPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title class="accent-color">Productos</ion-title>
  </ion-navbar>

  <!-- <ion-searchbar (ionInput)="getItems($event)"></ion-searchbar> -->

</ion-header>


<ion-content>
  <div padding>
    <ion-segment [(ngModel)]="categories">
      <ion-segment-button value="groceries">
        Abarrotes
      </ion-segment-button>
      <ion-segment-button value="vegetables">
        Verduras
      </ion-segment-button>
    </ion-segment>
  </div>

  <div [ngSwitch]="categories">

    <ion-list *ngSwitchCase="'vegetables'">
      <div *ngFor="let item of fresh">
        <ion-item (click)="presentModal(item)">
          <ion-thumbnail item-start>
            <img src={{item.image}}>
          </ion-thumbnail>
          <h2>{{item.name}}</h2>
        </ion-item>
      </div>

    </ion-list>

    <ion-list *ngSwitchCase="'groceries'">
      <div *ngFor="let item of groceries">
        <ion-item (click)="presentModal(item)">
          <ion-thumbnail item-start>
            <img src={{item.image}}>
          </ion-thumbnail>
          <h2>{{item.name}}</h2>
        </ion-item>
      </div>
    </ion-list>
  </div>

</ion-content>

<ion-footer>
  <ion-toolbar>
    <ion-title>Pide un producto...</ion-title>
  </ion-toolbar>
  <ion-grid>
    <ion-row>
      <ion-col col-6>
        <p>Si no encuentras tu producto presiona el boton para generarlo</p>
      </ion-col>
      <ion-col col-6 >
        <button ion-button full (click)="modalNewProduct()">Pedir</button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-footer>
